@page "/ElevatorDetails"
@page "/ElevatorDetails/{ElevatorId}"
@using MobileAppMaui.Services
@using MobileAppMaui.Models
@inject IElevatorService ElevatorService;
@inject NavigationManager Navigation;

<h3>Elevator Details</h3>

@if (_elevator == null)
{
    <p>Loading...</p>
}
else
{
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>DoorStatus</th>
                <th>CurrentLevel</th>
                <th>TargetLevel</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>@_elevator.Id</td>
                <td>@_elevator.Name</td>
                <td>@_elevator.Status</td>
                <td>@_elevator.DoorStatus</td>
                <td>@_elevator.CurrentLevel</td>
                <td>@_elevator.TargetLevel</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>CreatedBy</th>
                <th>Technicians</th>
                <th>Comments</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var errand in _elevator.Errands)
            {
                <tr @onclick="@(()=>DisplayOption(errand))">
                    <td>@errand.Title</td>
                    <td>@errand.Status</td>
                    <td>@errand.CreatedBy</td>
                    <td>@errand.Technician.Name</td>
                    <td>@errand.Comments.Count</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}

@code {

    [Parameter]
    public string ElevatorId { get; set; }

    ElevatorDetailsModel _elevator;

    protected override async Task OnInitializedAsync()
    {
        _elevator = await ElevatorService.GetElevatorByIdAsync(ElevatorId);
    }

    private void DisplayOption(ErrandModel errand)
    {
        Navigation.NavigateTo($"ErrandDetails/{ errand.Id.ToString() }");
    }
}
