@page "/ElevatorDetails"
@page "/ElevatorDetails/{ElevatorId}"
@using MobileAppMaui.Services
@using MobileAppMaui.Data
@inject IElevatorService ElevatorService;
@inject NavigationManager Navigation;

<h3>ElevatorDetails</h3>

@if (elevator == null)
{
    <p>Loading...</p>
}
else
{
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>DoorStatus</th>
                <th>CurrentLevel</th>
                <th>TargetLevel</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>@elevator.Id</td>
                <td>@elevator.Name</td>
                <td>@elevator.Status</td>
                <td>@elevator.DoorStatus</td>
                <td>@elevator.CurrentLevel</td>
                <td>@elevator.TargetLevel</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>CreatedBy</th>
                <th>Technicians</th>
                <th>Comments</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var errand in elevator.Errands)
                {
                    <tr @onclick="@(()=>DisplayOption(errand))">
                        <td>@errand.Title</td>
                        <td>@errand.Status</td>
                        <td>@errand.CreatedBy</td>
                        <td>@errand.Technician.Name</td>
                        <td>@errand.Comments.Count</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {

    [Parameter]
    public string ElevatorId { get; set; }

    public ElevatorDetailsModel elevator;

    protected override async Task OnInitializedAsync()
    {
        elevator = await ElevatorService.GetOneElevatorAsync(ElevatorId);
    }

    private void DisplayOption(ErrandModel errand)
    {
        Navigation.NavigateTo($"ErrandDetails/{errand.Id.ToString()}");
    }
}
