@page "/GetErrandByTechnicianId"
@using MobileAppMaui.Services
@using MobileAppMaui.Data
@inject IErrandService ErrandService;

<h3>GetErrandByTechnicianId</h3>


@if (errands == null)
{
    <p>Loading...</p>
}
else
{
    <div class="table-responsive">
        <table class="table">
            <tbody>
                @foreach (var errand in errands)
                {
                    <tr>
                        <th>Title</th>
                        <td>@errand.Title</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>@errand.Description</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>@errand.Status</td>
                    </tr>
                    <tr>
                        <th>Last edited</th>
                        <td>@errand.LastEdited.ToString("d")</td>
                    </tr>
                    <tr>
                        <th>Created at</th>
                        <td>@errand.CreatedAt.ToString("d")</td>
                    </tr>
                    <tr>
                        <th>Created by</th>
                        <td>@errand.CreatedBy</td>
                    </tr>
                    <tr>
                        <th>Technician</th>
                        <td>@errand.Technician.Name</td>
                    </tr>
                <tbody>
                    <tr>
                        <th>Comments</th>
                    </tr>
                        @foreach (var comment in errand.Comments)
                        {
                        <tr class="d-flex flex-column">
                            <td>
                                    @comment.PostedAt.ToString("d") - @comment.Author
                                <br>
                                    @comment.Content
                            </td>
                        </tr>
                        }
                </tbody>
                }
            </tbody>
        </table>
      </div>  
}

@code {
    IEnumerable<ErrandModel> errands;


    protected override async Task OnInitializedAsync()
    {
        errands = await ErrandService.GetErrandsFromTechnicianIdAsync("4d91ae92-e9cd-4af1-bb33-432ce12d5864");
    }
}
