@page "/"
@using MobileAppMaui.Services
@using MobileAppMaui.Data
@inject NavigationManager NavigationManager;
@inject IElevatorService ElevatorService;

<h1>All Elevators</h1>

@if (elevators == null)
{
    <p>Loading...</p>
}
else
{
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>DoorStatus</th>
                <th>CurrentLevel</th>
                <th>TargetLevel</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                @foreach (var elevator in elevators)
                {
                    <tr>
                        <td>@elevator.Name</td>
                        <td>@elevator.Status</td>
                        <td>@elevator.DoorStatus</td>
                        <td>@elevator.CurrentLevel</td>
                        <td>@elevator.TargetLevel</td>
                        <td>
                            <NavLink href="@elevator.Url" target="_blank">@elevator.Name</NavLink>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    IEnumerable<ElevatorListModel> elevators;

    protected override async Task OnInitializedAsync()
    {
        elevators = await ElevatorService.GetAllElevatorsAsync();
    }
}


@*@code
{
    IEnumerable<ElevatorListModel> _elevators;

    protected override async Task OnInitializedAsync()
    {
        _elevators = await ElevatorService.GetAllElevatorsAsync();
    }
}*@
